<!-- <footer class="w-100 h-100 bg-warning d-flex justify-content-around align-items-center fs-4">
    <div>
        <span class="me-3">Made By:</span>
        <span class="fw-bold">Harsh Sonara</span>
    </div>

    <div>
        <span>Created In : March 2024</span>
    </div>

    <div>
        <span>&copy; Copyright 2023</span>
    </div>
</footer> -->



<footer class="footer-section">
    <div class="container">

        <!-- footer head  -->
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>Jivraj Park, Ahmedabad</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>+91-1110001010</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>EArtijewel&#64;info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content  -->
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo"> 
                            <a href="/home"><img src="/assets/img/Logo's/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>"Explore our stunning assortment of artificial jewelry, where elegance meets affordability. From graceful necklaces to charming earrings, each piece is meticulously crafted to elevate your style effortlessly. Adorn yourself with our exquisite creations and make a statement wherever you go."</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a routerLink="/home"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a routerLink="/home"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a routerLink="/home"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/services">services</a></li>
                            <li><a routerLink="/aboutus">About us</a></li>
                            <li><a routerLink="/contactus">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" placeholder="Email Address">
                                <button (click)="homepage()"> <span class="text-white">Subscribe</span> </button>
                            </form> 
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <!-- footer end  -->
    <div class="copyright-area">
        <div class="container">
            <div class="text-center">
                <div class="copyright-text">
                    <p>Copyright &copy; 2024, All Rights are Reserved <a routerLink="/home">Harsh</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>

