<div class="slide">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <ng-template carouselSlide> <app-product class="products" /> </ng-template>  
    <!-- <ng-template carouselSlide *ngFor="let suggestedProduct of [1,1,1,1,1]">
      <app-suggested-products class="products"/>
    </ng-template> -->
  </owl-carousel-o>
</div>   