<!-- About 5 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase fw-bolder">About Us</h3>
          <h2 class="display-5 mb-4 fw-bold">Our journey began with a dream of redefining how the world perceives design.</h2>
          <a routerLink="/contactus">
          <button type="button" class="btn btn-lg btn-warning mb-3 mb-md-4 mb-xl-5">Contact Us</button>
          </a>
        </div>
      </div> 
    </div>
  
    <div class="container overflow-hidden mb-4"> 
      <div class="row gy-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <article>
            <div class="card border-0">
              <img class="card-img-top img-fluid m-0" loading="lazy" src="/assets/img/About Images/image-1.jpg" alt="">
              <div class="card-body p-4">
                <div class="entry-header mb-3">
                  <h2 class="card-title entry-title h4 mb-0">
                    <span class="text-warning text-decoration-none">Our Vision</span>
                  </h2>
                </div> 
                <p class="card-text entry-summary text-secondary mb-2">From sleek modernism to timeless elegance, we infuse every creation with a touch of our artistic ingenuity. As a Artificial Jewellery ECommerce Shop, great design can shape perceptions, inspire action, and leave an indelible mark on the world.</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-6">
          <article>
            <div class="card border-0">
              <img class="card-img-top img-fluid m-0" loading="lazy" src="/assets/img/About Images/image-2.jpg" alt="">
              <div class="card-body p-4">
                <div class="entry-header mb-3">
                  <h2 class="card-title entry-title h4 mb-0">
                    <span class="text-warning text-decoration-none">Our Approach</span>

                  </h2>
                </div>
                <p class="card-text entry-summary text-secondary mb-2">Welcome to our Artificial Jewellery, where creativity knows no bounds and innovation takes center stage. We are a team of dedicated designers, strategists, and visionaries with a passion for transforming ideas into captivating visuals.</p>
              </div>
            </div> 
          </article>
        </div>
      </div>
    </div>

    <div class="container overflow-hidden mb-4"> 
      <div class="row gy-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <article>
            <div class="card border-0">
              <img class="card-img-top img-fluid m-0" loading="lazy" src="/assets/img/About Images/image-3.jpg" alt="">
              <div class="card-body p-4">
                <div class="entry-header mb-3">
                  <h2 class="card-title entry-title h4 mb-0">
                    <span class="text-warning text-decoration-none"> Sustainability Efforts </span>
                  </h2>
                </div> 
                <p class="card-text entry-summary text-secondary mb-2"> Detail the company's commitment to sustainability and ethical practices, such as using recycled materials, responsibly sourced gemstones, and eco-friendly packaging. Highlight initiatives to reduce waste, minimize carbon footprint, and support fair trade practices within the supply chain.</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-6">
          <article>
            <div class="card border-0">
              <img class="card-img-top img-fluid m-0" loading="lazy" src="/assets/img/About Images/image-4.png" alt="">
              <div class="card-body p-4">
                <div class="entry-header mb-3">
                  <h2 class="card-title entry-title h4 mb-0">
                    <span class="text-warning text-decoration-none"> Customer Satisfaction </span>
                  </h2>
                </div>
                <p class="card-text entry-summary text-secondary mb-2">Describing The company's unwavering commitment to customer satisfaction, from providing personalized shopping experiences. Showcase positive reviews and testimonials from satisfied customers to build trust and credibility.</p>
              </div>
            </div> 
          </article>
        </div>
      </div>
    </div>
    
  </section> 