<section class="p-5">
    <div class="row mb-5">
        <h2 class="section-heading fw-bold">Our Services</h2>
    </div>
    <div class="row mb-5">
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-bookmark"></i>
                </div>
                <h3> Product Catalog Management </h3>
                <p>
                    Managing an extensive catalog of artificial jewelry products, including adding new products,
                    updating existing ones, and removing outdated items.
                </p>
            </div>
        </div> 
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-handshake-angle"></i>
                </div>
                <h3> Customer Support and Assistance </h3>
                <p>
                    Providing prompt and helpful assistance to customers before, during, and after their purchase
                    journey.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-gears"></i>
                </div>
                <h3> Customization and Personalization </h3>
                <p>
                    Allowing customers to customize and personalize their artificial jewelry pieces to suit their
                    preferences and style.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <h3> Shipping and Logistics Management </h3>
                <p>
                    Handling the fulfillment, shipping, and delivery of customer orders with efficiency and reliability.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-bullhorn"></i>
                </div>
                <h3>Digital Marketing and Promotion</h3>
                <p>
                    Promoting the artificial jewelry brand, products, and offers through various digital marketing
                    channels to attract and engage customers.
                </p>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="icon-wrapper">
                    <i class="fa-solid fa-hashtag"></i>
                </div>
                <h3> Social Media Marketing </h3>
                <p>
                    Social Media Marketing utilizes social platforms to connect with audiences, share engaging content,
                    and boost brand visibility, ultimately driving engagement and conversions.
                </p>
            </div>
        </div>
    </div>
</section>